<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NFe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NFe.Properties.Settings>
            <setting name="NFe_ws_NFeRecepcao2_NfeRecepcao2" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRecepcao2.asmx</value>
            </setting>
            <setting name="NFe_ws_NFeRetRecepcao2_NfeRetRecepcao2" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="NFe_ws_NFeRecepcaoEvento2_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/eventosWEB/services/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="NFe_ws_NFeAutorizacao3_NfeAutorizacao" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nfeautorizacao.asmx</value>
            </setting>
            <setting name="NFe_ws_NFeRetAutorizacao3_NfeRetAutorizacao" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nferetautorizacao.asmx</value>
            </setting>
            <setting name="NFe_ws_NFeRecepcaoEvento3_RecepcaoEvento" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/recepcaoevento.asmx</value>
            </setting>
            <setting name="NFe_ws_NFeInutilizacao2_NfeInutilizacao2" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nfeinutilizacao2.asmx</value>
            </setting>
        </NFe.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
