@model CleverWeb.Models.ProdutoServico

@{
    ViewData["Title"] = "Novo";
}


<div class="pagetitle">
    <h3>Novo Cadastro</h3>
</div>

<div class="card">
    <div class="card-body pt-3">
        <form asp-action="Create" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Cabeçalho</p>
            <div class="col-md-2">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" asp-items="@Html.GetEnumSelectList<TipoProduto>()"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Referencia" class="control-label"></label>
                <input asp-for="Referencia" class="form-control" />
                <span asp-validation-for="Referencia" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Barra" class="control-label"></label>
                <input asp-for="Barra" class="form-control" />
                <span asp-validation-for="Barra" class="text-danger"></span>
            </div>
            <div class="col-md-8">
                <label asp-for="Fabricante" class="control-label"></label>
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Informacao" class="control-label"></label>
                <input asp-for="Informacao" class="form-control" />
                <span asp-validation-for="Informacao" class="text-danger"></span>
            </div>
            <p>Custos</p>
            <div class="col-md-2">
                <label asp-for="ValorCompra" class="control-label"></label>
                <input asp-for="ValorCompra" class="form-control" type="number" id="ValorCompra" />
                <span asp-validation-for="ValorCompra" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="OutrosCustos" class="control-label"></label>
                <input asp-for="OutrosCustos" class="form-control" type="number" id="OutrosCustos" />
                <span asp-validation-for="OutrosCustos" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="ValorIpi" class="control-label"></label>
                <input asp-for="ValorIpi" class="form-control" type="number" id="ValorIpi" />
                <span asp-validation-for="ValorIpi" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="ValorSt" class="control-label"></label>
                <input asp-for="ValorSt" class="form-control" type="number" id="ValorSt" />
                <span asp-validation-for="ValorSt" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="CustoFinal" class="control-label"></label>
                <input asp-for="CustoFinal" class="form-control" id="CustoFinal" readonly />
                <span asp-validation-for="CustoFinal" class="text-danger"></span>
            </div>
            <div class="col-md-12 d-flex justify-content-end" style="margin-top: 20px">
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" style="margin-left: 10px" />
            </div>
        </form>
    </div>
</div>
<script>

    const valorCompraInput = document.getElementById('ValorCompra');
    const valorOutrosCustosInput = document.getElementById('OutrosCustos');
    const valorIpiInput = document.getElementById('ValorIpi');
    const valorStInput = document.getElementById('ValorSt');
    const custoFinalInput = document.getElementById('CustoFinal');


    valorCompraInput.addEventListener('change', calcularCustoFinal);
    valorOutrosCustosInput.addEventListener('change', calcularCustoFinal);
    valorIpiInput.addEventListener('change', calcularCustoFinal);
    valorStInput.addEventListener('change', calcularCustoFinal);


    function calcularCustoFinal() {

        const valorCompra = parseFloat(valorCompraInput.value) || 0;
        const valorOutrosCustos = parseFloat(valorOutrosCustosInput.value) || 0;
        const valorIpi = parseFloat(valorIpiInput.value) || 0;
        const valorSt = parseFloat(valorStInput.value) || 0;


        const soma = valorCompra + valorOutrosCustos + valorIpi + valorSt;


        custoFinalInput.value = soma.toFixed(2);
    }
</script>

