@model CleverWeb.Models.ProdutoServico

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProdutoServico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MultiEmpresa" class="control-label"></label>
                <input asp-for="MultiEmpresa" class="form-control" />
                <span asp-validation-for="MultiEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmpresa" class="control-label"></label>
                <input asp-for="IdEmpresa" class="form-control" />
                <span asp-validation-for="IdEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoNivel" class="control-label"></label>
                <input asp-for="GrupoNivel" class="form-control" />
                <span asp-validation-for="GrupoNivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referencia" class="control-label"></label>
                <input asp-for="Referencia" class="form-control" />
                <span asp-validation-for="Referencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabricante" class="control-label"></label>
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Informacao" class="control-label"></label>
                <input asp-for="Informacao" class="form-control" />
                <span asp-validation-for="Informacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barra" class="control-label"></label>
                <input asp-for="Barra" class="form-control" />
                <span asp-validation-for="Barra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barratributavel" class="control-label"></label>
                <input asp-for="Barratributavel" class="form-control" />
                <span asp-validation-for="Barratributavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ncm" class="control-label"></label>
                <input asp-for="Ncm" class="form-control" />
                <span asp-validation-for="Ncm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorCompra" class="control-label"></label>
                <input asp-for="ValorCompra" class="form-control" />
                <span asp-validation-for="ValorCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutrosCustos" class="control-label"></label>
                <input asp-for="OutrosCustos" class="form-control" />
                <span asp-validation-for="OutrosCustos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeTributavel" class="control-label"></label>
                <input asp-for="UnidadeTributavel" class="form-control" />
                <span asp-validation-for="UnidadeTributavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Validade" class="control-label"></label>
                <input asp-for="Validade" class="form-control" />
                <span asp-validation-for="Validade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garantia" class="control-label"></label>
                <input asp-for="Garantia" class="form-control" />
                <span asp-validation-for="Garantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <input asp-for="Situacao" class="form-control" />
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExTipi" class="control-label"></label>
                <input asp-for="ExTipi" class="form-control" />
                <span asp-validation-for="ExTipi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClasseEnquadramento" class="control-label"></label>
                <input asp-for="ClasseEnquadramento" class="form-control" />
                <span asp-validation-for="ClasseEnquadramento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnpjprodutor" class="control-label"></label>
                <input asp-for="Cnpjprodutor" class="form-control" />
                <span asp-validation-for="Cnpjprodutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustoFinal" class="control-label"></label>
                <input asp-for="CustoFinal" class="form-control" />
                <span asp-validation-for="CustoFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGrupo" class="control-label"></label>
                <input asp-for="IdGrupo" class="form-control" />
                <span asp-validation-for="IdGrupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PesoB" class="control-label"></label>
                <input asp-for="PesoB" class="form-control" />
                <span asp-validation-for="PesoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PesoL" class="control-label"></label>
                <input asp-for="PesoL" class="form-control" />
                <span asp-validation-for="PesoL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorIpi" class="control-label"></label>
                <input asp-for="ValorIpi" class="form-control" />
                <span asp-validation-for="ValorIpi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControleEstoque" class="control-label"></label>
                <input asp-for="ControleEstoque" class="form-control" />
                <span asp-validation-for="ControleEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoEspecifico" class="control-label"></label>
                <input asp-for="ProdutoEspecifico" class="form-control" />
                <span asp-validation-for="ProdutoEspecifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodAnp" class="control-label"></label>
                <input asp-for="CodAnp" class="form-control" />
                <span asp-validation-for="CodAnp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorSt" class="control-label"></label>
                <input asp-for="ValorSt" class="form-control" />
                <span asp-validation-for="ValorSt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InfoAdicional1" class="control-label"></label>
                <input asp-for="InfoAdicional1" class="form-control" />
                <span asp-validation-for="InfoAdicional1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InfoAdicional2" class="control-label"></label>
                <input asp-for="InfoAdicional2" class="form-control" />
                <span asp-validation-for="InfoAdicional2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abc" class="control-label"></label>
                <input asp-for="Abc" class="form-control" />
                <span asp-validation-for="Abc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCest" class="control-label"></label>
                <input asp-for="IdCest" class="form-control" />
                <span asp-validation-for="IdCest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

