<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.BLL.Properties.Settings.BD_TesteConnectionString"
            connectionString="Data Source=SERVIDOR-PC;Initial Catalog=BD_Teste;User ID=sa;Password=fdas*2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>